<configuration>
    <routing-options>
        <router-id>7.7.7.7</router-id>
        <autonomous-system>
            <as-number>100</as-number>
        </autonomous-system>
    </routing-options>
</configuration>