<configuration>
    <protocols>
        <bgp>
            <group>
                <name>int-100</name>
                <type>internal</type>
                <neighbor>
                    <name>172.16.57.5</name>
                    <peer-as>100</peer-as>
                </neighbor>
            </group>
        </bgp>            
    </protocols>
</configuration>