<configuration>
            <chassis>
                <aggregated-devices>
                    <ethernet>
                        <device-count>1</device-count>
                    </ethernet>
                </aggregated-devices>
            </chassis>
        <interfaces>
            <interface>
                <name>ae0</name>
                    <aggregated-ether-options>
                        <lacp>
                            <active/>
                        </lacp>
                    </aggregated-ether-options>
                    <unit>
                        <name>0</name>
                        <family>
                            <ethernet-switching>
                                {% if node_type == 'vQFX-switch' -%}
                                <interface-mode>trunk</interface-mode>
                                <vlan>
                                    <members>all</members>
                                </vlan>
                                {%- elif node_type == 'EX-switch' -%}
                                <port-mode>trunk</port-mode>
                                <vlan>
                                    <members>all</members>
                                </vlan>
                                {% endif %}
                            </ethernet-switching>
                        </family>       
                    </unit>
                </interface>
            </interfaces>
</configuration>